{% extends 'base.html' %}
{% load static %}
{% block content %}
    <article class="post">
        <aside class="actions">
            {% if user.is_authenticated and post.author == user or user.is_superuser %}
            <a class="btn btn-secondary" href="{% url 'blog:post_edit' pk=post.pk %}">
                <img src="{% static 'icons/pencil-fill.svg' %}" alt="Edit Icon">
            </a>Edit Post
            {% endif %}
        </aside><br>
        <!-- {% if post.published_date %}
            <time class="date">
                {{ post.published_date }}
            </time>
        {% endif %} -->
        {% if post.image %}
        <img src="{{post.image.url}}" style="width: 400px; height: 400px;">
        {% else %}
                <img style="width: 400px; height: 400px;" src="{% static 'images/default_pic.png' %}" class="card-img-top" alt="Default Image">
        {% endif %}<br> <br>
        <h3>{{ post.title }}</h3>
        <p style="color: black;">{{ post.text|linebreaksbr }}</p>
        <small>By {{post.author}} On {{ post.published_date }}</small><br><br>

        <p>
        {% if post.category %}
        <span class="badge bg-secondary">{{post.category.name}}</span>
        {% else %}
        <span class="badge bg-secondary">Category</span>
        {% endif %}
            {% for tag in post.tags.all %}
            <span class="badge bg-info text-dark">#
            {{ tag.name }}</span>
            {% empty %}
             <span class="badge bg-info text-dark"> No Tags</span>
              {% endfor %}
            </p>
    </article>
<hr>
    <h3>Leave a comment</h3>
{% if user.is_authenticated %}
   <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"class="btn btn-sm">Add Comment</button>
   </form>
   {% else %}
   <p><a href="{% url 'api:login' %}">Login</a> to add a comment </p>
   {% endif %}
   <br>
<hr>

<h3>Comments</h3><br>
<ul class="comment-list">
    {% for comment in comments %}
    <li class="comment">
        <strong>
            <a href="{% url 'blog:user_profile' comment.user.username %}">
            {% if comment.user.profile_picture %}
            <img src= "{{comment.user.profile_picture.url}}" style="width: 30px; height: 30px; border-radius:20px;" class="profile-pic" alt="{{ comment.user.username}}"></a>
            {% else %}
            <img src="{% static 'images/default_image.png' %}" class="profile-pic" alt="Default Profile">
            {% endif %}
            </a>
            <a style="text-decoration: none; color:black" href="{% url 'blog:user_profile' comment.user.username %}" >
            {{ comment.user.username }}</strong></a>:
    {{ comment.text }} ({{ comment.created_date|date:"d M Y H:i" }})
    

   <!-- edit/delete buttons -->
      {% if user.is_authenticated and comment.user == user or user.is_superuser %}
      <a href="{% url 'blog:edit_comment' pk=comment.pk %}" class="btn btn-sm">Edit</a> 
       <a href="{% url 'blog:delete_comment' pk=comment.pk %}" class="btn btn-sm">Delete</a> 
      {% endif %}

    <!-- reply form -->
     {% if user.is_authenticated %}
     <a href="#" onclick="showReplyForm({{ comment.id }}); return false;" class="btn btn-sm">Reply </a>

     <div id="reply-form-container-{{ comment.id }}" style="display: none; margin-top:10px;">
     <form method="post" id="reply-form">
        {% csrf_token %}
        <input type="hidden" name="parent_id" value="{{ comment.id }}">
        {{ form.as_p }}
        <button type="submit" class="btn btn-sm">Reply</button>
     </form>
     </div>
     {% endif %}
     <br><br>
     <!-- show replies -->
      {% if comment.replies.all %}
      <ul class="replies">
        {% for reply in comment.replies.all %}
        <li class="reply">
            <a href="{% url 'blog:user_profile' reply.user.username %}">
            {% if reply.user.profile_picture %}
            
            <img src="{{reply.user.profile_picture.url}}" style="width: 30px; height:30px; border-radius:30px;" class="profile-pic" alt="{{reply.user.username}}"></a>
            {% else %}
            <img src="{% static 'images/default_image.png' %}" style="width: 30px; height:30px; border-radius:30px;" class="profile-pic" alt="Default Profile"></a>
            {% endif %}</a>
            <a style="text-decoration: none; color:black" href="{% url 'blog:user_profile' reply.user.username %}">
            <b>{{ reply.user.username }}</b></a>: {{ reply.text }}
            <small>({{ reply.created_date }})</small>
            <!-- edit/delete -->
             {% if user.is_authenticated and reply.user == user and user.is_superuser %}
             <a href="{% url 'blog:edit_comment' pk=reply.pk %}" class="btn btn-sm">Edit</a>
             <a href="{% url 'blog:delete_comment' pk=reply.pk %}" class="btn btn-sm">Delete</a>
            {% endif %}

    {% if user.is_authenticated %}
    

     <a href="#" onclick="showReplyForm({{ comment.id }}); return false;" class="btn btn-sm">Reply</a>

     <div id="reply-form-container-{{ comment.id }}" style="display: none; margin-top:10px;">
     <form method="post" id="reply-form">
        {% csrf_token %}
        <input type="hidden" name="parent_id" value="{{ comment.id }}">
        {{ form.as_p }}
        <button type="submit" class="btn btn-sm">Reply</button>
     </form>
     </div>         
        
     {% endif %}
            </p>
        </li>
      {% endfor %}
      </ul>
      {% endif %}
      
      </li>
       {% empty %}
      <p>No comments yet.</p>
      {% endfor %}
    </ul>
    </li>
</ul>

    {% if user.is_authenticated and  post.author == user or user.is_superuser %}
    <!-- <a href="{% url 'blog:post_edit' post.pk %}">Edit</a> -->
    <form action="{% url 'blog:post_delete' post.pk %}" method="post" style="display:inline;"
    onsubmit="return confirm('Are you sure you want to delete this post?');">
        {% csrf_token %}
        <p style="font-weight: bold;">Are you want to delete this post?</p>
        <button type="submit" class="btn btn-sm">Delete</button>
    </form>
    {% endif %}

    <script>
function showReplyForm(commentId) {
    let formContainer = document.getElementById("reply-form-container-" + commentId);
    if (formContainer.style.display === "none") {
        formContainer.style.display = "block";
    } else {
        formContainer.style.display = "none";
    }
}
</script>

<style>
.comment-list{
    list-style:none;
    padding: 0;
}
.comment, .reply{
    margin: 10px 0;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
 .reply{
    margin-left: 40px;
} 
.profile-pic{
   width: 35px;
    height: 35px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 8px;  
}
.btn-sm {
    border: 1px solid #000;
    padding: 2px 6px;
    margin-left: 5px;
    font-size: 12px;
    text-decoration: none;
}

</style>
{% endblock %}